body {
  background-color: #000000;
}

.top-bar.expanded .title-area, 
.contain-to-grid, 
.top-bar, 
.top-bar-section ul, 
.top-bar-section ul li, 
.top-bar-section li:not(.has-form) a:not(.button), 
.top-bar-section .dropdown li a, 
.top-bar-section .dropdown li:not(.has-form) a:not(.button), 
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover
{
  background: transparent;
font-family: 'Roboto', sans-serif;
}

.inner-wrap,
.tab-bar,
.tab-bar .right-small,
ul.off-canvas-list li a
{
  border: none;
  background: transparent;
  font-family: 'Roboto', sans-serif;
}

.frontpage-image figure{
  margin: 0;
  z-index: -1;
}

.full-width {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
}

.about {
  padding: 1em;
  background: white;
 
}

.about h2{
  color: #0E0E0E;
  font-family: 'Roboto', sans-serif;
}

.about p {
  color: #909090;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}








