.top-bar.expanded .title-area, 
.contain-to-grid, 
.top-bar, 
.top-bar-section ul, 
.top-bar-section ul li, 
.top-bar-section li:not(.has-form) a:not(.button), 
.top-bar-section .dropdown li a, 
.top-bar-section .dropdown li:not(.has-form) a:not(.button), 
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover
{
  font-family: "Meiryo";
  background: transparent;
}

.top-bar-section ul li {
  margin: 5px;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

body {
  background-image: url("../images/Medium_FrontPageBG1280x800.jpg");
  background-repeat: no-repeat;
}

.banner h2{
  font-family: "Meiryo";
  color: #ffffff;
}

.filler {
  height: 100vh;
}

