html, body, .page-wrapper {
  height: 100%;
}

body {
  background: yellow;
}

.page-header {
  height: 40px;
  background-color: green;
}

.page-content {
  height: 100%;
}

ul.header-menu {
  text-align: center;
  list-style: none;
}

ul.header-menu li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

ul.header-menu li a {
  text-decoration: none;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
