html, body {
  box-sizing: border-box;
  /*background-color: #FFF4E9;*/
  background-color: #FFFBFE;
  margin: 0;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4F5566
}

ul {
  margin: 0;
  padding: 0;
}

/*a {
  font-size: 20px;
  padding: 20px 5px;
  background-color: #B8EFE5;
  text-decoration: none;
  color: #4F5566

}

a:visited {
   color: #4F5566;
}

a:hover {
  background-color: #4F5566;
  color: #FFF6ED;
}
*/

/* Main Page */

.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFFBFE;
  opacity: 0;
  transition: opacity 1.0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover-on {
  transition: opacity 1.0s;
  opacity: 1;
  z-index: 10;
}


.Header {
  position: relative;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.Header-menuBurger {
  cursor: pointer;
}

.Header-menuBurger-line {
  height: 5px;
  width: 40px;
  margin-bottom: 5px;
  background-color: #72d69a;
}

.Header-logo {
  color: #72d69a;
  font-size: 40px;
}

.Header-spacer {
  flex: 1;
}

.l-01 {
  width: 38px;
}

.l-02 {
  width: 32px;
}

.l-03 {
  width: 28px;
}

.MainPage {
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.MainPage-paragraph {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 500px){
  .MainPage {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 800px){
  .MainPage {
    padding-left: 80px;
    padding-right: 80px;
  }

}

.Navbar {
  position: absolute;
  list-style: none;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: 100%;
  padding: 20px;
  transition: transform 1.0s ease-in;
  z-index: 1000;
}

.Navbar-active {
  transition: transform 1.0s;
  transform: translateX(0);
}

.Navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.Navbar-list-item:nth-child(2) {
  margin-top: 10px;
}

.Navbar-list-item {
  flex-basis: 30px;
}

.Navbar-closebutton {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.Navbar-link {
  text-decoration: none;
  color: #4F5566;
}

.Navbar-closebutton-l-01 {
  position: absolute;
  top: 38px;
  left: 19px;
  width: 40px;
  height: 5px;
  /*background: #d6d6d7;*/
  background: #505050;
  transform: rotate(45deg);
}

.Navbar-closebutton-l-02 {
  position: absolute;
  top: 38px;
  left: 19px;
  width: 40px;
  height: 5px;
  background: #505050;
  transform: rotate(-45deg);
  /*background: #d6d6d7;*/
}


.ProjectPage {
  padding: 0 20px;
}

.CodePage {
  padding: 0 20px;
}

.ThoughtsPage {
  padding: 0 20px;
}



